@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


body {
	font-family: Quicksand;
}

.menu-header button {
	border: none;
	background: none;
	outline: none;
	width: 45px;
	height: 45px;
	color: #CAC9F2;;
	font-size: 22px;
	position: relative;
	cursor: pointer;
}

.menu-header button:hover {
	transform: scale(1.05);
}

.clasbutton{
	background-color:transparent;
	border-bottom: transparent;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	
}


.counter-favorite,
.counter-cart {
	font-size: 10px;
	
	background-color: rgb(36, 137, 178);
	color: #000;
	font-weight: 700;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	right: 0;
	border-radius: 50%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 0;
	gap: 30px;
}

.card-product {
	display: flex;
	flex-direction: column;
	gap: 20px;
	cursor: pointer;
}

.content-card-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 25px;
}

.container-img {
	height: 325px;
	border-radius: 12px;
	overflow: hidden;
}

.container-img img {
	width: 75%;
	height: 100%;
	object-fit: cover;
}



.price {
	font-weight: 700;
	font-size: 24px;
	color: #555;
}

.container-buttons-card {
	display: flex;
	gap: 20px;
}

.container-buttons-card button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px #00000025;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

/* ********************************** */
/*         LISTA DE FAVORITOS         */
/* ********************************** */
.container-list-favorites {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(400px);
	background-color: #555;
	opacity: 0;
	width: 400px;
	height: 100vh;
	transition: all 0.5s linear;
}

.container-list-favorites.show {
	opacity: 1;
	transform: translateX(0);
}

.header-favorite {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-favorite i {
	cursor: pointer;
}

.list-favorites {
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.list-favorites .card-favorite {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px #00000065;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.card-favorite .title {
	color: #000;
	flex: 1;
}

.card-favorite p:last-child {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

/* ------------------- */

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: red;
}

:root{
    --color_background:#F9F8FF;
    --color_heFoo:#CAC9F2;
    --color_buttons:#7A88F2;
    --color_input:#DBEFFB;
}

.img-profile{
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

h1, h3, p, a{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.description{
    text-align: justify;
}


.card-hover {
    transition: transform 0.4s ease; /* Transicion suave de 0.4 segundos en la tarjeta */
    cursor: pointer;  /* Se activa cuando el cursos esta sobre la tarjeta  */
    display: block;  /* Hace que cada tarjeta se un bloque  */
    margin: 0 auto;  /* Centra la imagen si no ocupa todo el ancho del contenedor  */
}
.card-hover:hover {
    transform: scale(1.05); /* Controla la escala para el efecto de la imagen */
}

.text-bg{
    background-color: #7A88F2;
}

.iconos {
    width: 25px;
    height: 25px;
}

.classFavoriteNow #contenedorProductos .card .card-body .container-buttons-card .favorite{
	background-color: red;
}