.carousel{
    display: flex;
    justify-content: center;
  }

  .carousel{
    margin: 0 4px; /* Añade espacio entre las imágenes /
    width: calc(20% - 8px); / Ajusta el ancho de cada imagen, restando el margen /
    max-height: 400px; / Altura máxima para que las imágenes tengan el mismo tamaño /
    object-fit: cover; / Asegura que las imágenes cubran el área designada sin estirarse */
  }