

body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.inpu-form{
  background-color: #DBEFFB;
}

.btn{
  background-color: #7A88F2;
  border-radius: 7px;
  border-width: 3px;
}

.iconos {
  width: 25px;
  height: 25px;
}

.titulo{
  font-family: 'Caveat Brush', cursive;
  font-size: 36px;

}

h1{
  font-family: 'Caveat Brush', cursive;
  font-size: 36px;
} 

h2{
  font-family: 'Caveat Brush', cursive;
  font-size: 26px;

}

h5{
  font-family: 'Caveat Brush', cursive;
  font-size: 20px;

}