body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
  } 


  .inpu-form {
    background-color: #dbeffb;
  }
  
  .btn {
    background-color: #7a88f2;
    border-radius: 7px;
  }
  
  .imgForm {
    width: 100%;
    height: 100%;
  }
  
  .iconos {
    width: 25px;
    height: 25px;
  }
