*{
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    
}

.titulo{
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
} 





.header,
.footer {
  background-color: #cac9f2;
}

.iconos {
  width: 25px;
  height: 25px;
}

.menu-header button {
	border: none;
	background: none;
	outline: none;
	width: 45px;
	height: 45px;
	color: #CAC9F2;;
	font-size: 22px;
	position: relative;
	cursor: pointer;
}

.menu-header button:hover {
	transform: scale(1.05);
}

.counter-favorite,
.counter-cart {
	font-size: 10px;
	position: absolute;
	background-color: orange;
	color: #000;
	font-weight: 700;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	right: 0;
	border-radius: 50%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 0;
	gap: 30px;
}

.card-product {
	display: flex;
	flex-direction: column;
	gap: 20px;
	cursor: pointer;
}

.content-card-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 25px;
}

.container-img {
	height: 325px;
	border-radius: 12px;
	overflow: hidden;
}

.container-img img {
	width: 75%;
	height: 100%;
	object-fit: cover;
}



.price {
	font-weight: 700;
	font-size: 24px;
	color: #555;
}

.container-buttons-card {
	display: flex;
	gap: 20px;
}

.container-buttons-card button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px #00000025;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

/* ********************************** */
/*         LISTA DE FAVORITOS         */
/* ********************************** */
.container-list-favorites {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(400px);
	background-color: #555;
	opacity: 0;
	width: 400px;
	height: 100vh;
	transition: all 0.5s linear;
}

.container-list-favorites.show {
	opacity: 1;
	transform: translateX(0);
}

.header-favorite {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-favorite i {
	cursor: pointer;
}

.list-favorites {
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}



.card-favorite .title {
	color: #000;
	flex: 1;
}

.card-favorite p:last-child {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

/* ------------------- */

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: red;
}

:root{
    --color_background:#F9F8FF;
    --color_heFoo:#CAC9F2;
    --color_buttons:#7A88F2;
    --color_input:#DBEFFB;
}

.img-profile{
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

h1, h3, p, a{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.description{
    text-align: justify;
}

