body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 36px;
} 


h2{
    font-family: 'Caveat Brush', cursive;
    font-size: 26px;

} 

.inpu{
    background-color: #DBEFFB;
}

.btn{
    background-color: #7A88F2;
    border-radius: 7px;
}

.imgForm{
    width: 100%;
    height: auto;
}