*{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

 .nav-link {
  font-size: 18px;
}

.text-bg{
  background-color: #7A88F2;
}


.form-label, .text-contact{
  font-size: 20px;
}
p{
  font-size: 20px;
}

.iconos {
  width: 25px;
  height: 25px;
}

.imgForm{
  width: 100%;
  height: auto;
}